In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('dataset w7.csv')
df.head()

   Gender Test preparation  Total Marks
0    male             none           14
1  female             none           28
2  female             none           18
3  female             none           48
4  female             none           21

### 1. Carry out descriptive analytics on the dataset.

In [8]:
df.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

In [14]:
df.groupby(by ='Gender')['Total Marks'].describe()

        count       mean        std   min    25%   50%    75%   max
Gender
female   16.0  33.750000  12.865976  12.0  25.50  39.0  43.50  50.0
male     12.0  30.416667  12.168950  14.0  21.75  29.0  43.25  47.0

In [36]:
df.groupby(by ='Test preparation')['Total Marks'].describe()

                  count       mean        std   min   25%   50%   75%   max
Test preparation
completed           7.0  44.571429   3.359422  40.0  43.0  44.0  46.0  50.0
none               21.0  28.238095  11.661495  12.0  18.0  27.0  38.0  48.0

Inference:

Average marks of female students are more than that of the male students. But Females have got a bit higher standard deviation compared to males. Females tudents have got the minimum and maximum among the complete dataset.

Standard deviation is very low and Average is very high for the students who completed the Test preparation. But std dev is very high for students who didint complete the test preparation. Even the minimum mark of the student who completed test preparation is 40 which is very close to mean. Its cleary showing that marks are very high for the students who completed the test preparation

### 2. Check whether female and male students scored the same marks.

H0 : The mean mark of male students are same as that of female students
H1 : The mean mark of male students are different with that of female students

N=28

In [48]:
df_male = df[df['Gender']=='male']
df_male = df_male[['Total Marks']]
df_female = df[df['Gender']=='female']
df_female = df_female[['Total Marks']]

In [54]:
from scipy.stats import ttest_ind
alpha=.05

Tscore,p = ttest_ind(df_male,df_female)
print('Tscore is :',Tscore)
print('P is :',p)

if p > alpha:
    print('Sample Fails to reject null hypothesis')
else:
    print('Sample fails to accept null hypothesis')

Tscore is : [-0.69408853]
P is : [0.49378223]
Sample Fails to reject null hypothesis

As per the T test conducted, we are significantly failed to reject the null Hypothesis. So can be concluded as female and male students scored the same marks.

### 3. Whether test preparation helps the students?

H0 : There is no significant differnce in the marks of students who completed testpreparation
H1 : There is  significant differnce in the marks of students who completed testpreparation

N=28

In [55]:
df_comp = df[df['Test preparation']=='completed']
df_comp = df_comp[['Total Marks']]
df_none = df[df['Test preparation']=='none']
df_none = df_none[['Total Marks']]

In [56]:
alpha=.05

Tscore1,p1 = ttest_ind(df_comp,df_none)
print('Tscore is :',Tscore1)
print('P is :',p1)

if p1 > alpha:
    print('Sample Fails to reject null hypothesis')
else:
    print('Sample fails to accept null hypothesis')

Tscore is : [3.61436375]
P is : [0.00126713]
Sample fails to accept null hypothesis

As per the T test conducted, we are significantly failed to accept the null Hypothesisthere.So there is significant difference in the marks scored by students who completed test preparation. The alternate hypothesis indicate that, test preparation clearly helped the students to score high marks.